@media (max-device-width: 768px){
    .mob-fix {
        height: auto !important;
        line-height: 20px !important;
        text-align: center;
    }
}
.btn {
    margin-top: 150px;
    margin-right: 500px;
}
.image {
    margin-left: 100px;
    margin-top: 50px;

}
