<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Товары</title>
  <link href="../../public/styles/listItems.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="col-md-8 products">
  <div class="row">
    <div class="col-sm-4">
      <div class="product">
        <div class="product-img">
          <a href="#"><img src="https://i.pinimg.com/564x/e6/46/db/e646dbb1a06061a46b0432cc1ff9e7f6.jpg" alt=""></a>
        </div>
        <p class="product-title">
          <a href="#">Сиреневое винтажное платье</a>
        </p>
        <p class="product-desc">Коллекция: весна</p>
        <p class="product-price">Цена: €10.00</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="product">
        <div class="product-img">
          <a href="#"><img src="https://i.pinimg.com/564x/35/84/b2/3584b29cceece182852d481bb42756d2.jpg" alt=""></a>
        </div>
        <p class="product-title">
          <a href="#">Коктейльное платье</a>
        </p>
        <p class="product-desc">Коллекция: весна</p>
        <p class="product-price">Price: €15.00</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="product">
        <div class="product-img">
          <a href="#"><img src="https://i.pinimg.com/564x/62/ce/72/62ce727c92a8bbf9b236ba5d1f35fadd.jpg" alt=""></a>
        </div>
        <p class="product-title">
          <a href="#">Платье с принтом</a>
        </p>
        <p class="product-desc">Коллекция: лето</p>
        <p class="product-price">Price: €18.00</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
